.banner {
  background-position: center top;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 5vw;
  margin-bottom: 2vw;
}

.tms {
  margin: 0 auto;
}

.photo {
  width: 27vw;
  height: 18vw;
  min-width: 270px;
  min-height: 350px;
  object-fit: cover;
  display: block;
  margin: auto 0 auto auto;
}

.text {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 15vw;
  justify-content: space-evenly;
  margin: 0;
  padding-left: 1vw;
  /*display: block;*/
  /*border: 2px solid #ffd382;  for checking the text container size*/
}

.text:nth-of-type(even) {
  background-color: #464444;
}

button {
  width: 8rem;
  height: 2rem;
  font-size: 1.2rem;
}

.button-container {
  height: 20%;
  margin-top: 5px;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .tms {
    width: 42vw;
    margin-bottom: 2vw;
  }

  .photo {
    height: 28vw;
  }

  .parent {
    margin-bottom: 0vw;
  }

  .text {
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .button-container {
    padding: 0 0;
  }
}

@media screen and (max-width: 680px) {
  #pg-title {
    font-size: 7vh;
  }

  .tms {
    width: 75vw;
    margin: auto auto auto auto;
    margin-bottom: 25px;
    padding-bottom: 20px;
  }

  .photo {
    height: 50vw;
    object-fit: cover;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .parent {
    flex-direction: column;
  }

  .text {
    text-align: center;
  }

  .text:nth-of-type(even) {
    height: auto;
    padding-bottom: 20px;
  }
}
