.top-content-wrapper {
  margin-top: 10vh;
  padding-top: 15vh;
  width: 100vw;
  height: 100vh;
  padding-left: 250px;
  background-image: url("http://127.0.0.1:3000/img/code-tips-banner.png");
  background-size: cover;
}

.short-bar {
  margin: 0 0;
}

.intro-text {
  margin: 0 0;
  padding: 5vh 0;
  width: 40vw;
  text-align: left;
}

.intro-text p {
  font-size: calc(0.9vh + 0.9vw);
}

.main-content-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
}

#content, #leftmenu {
  flex: auto;
  flex-direction: column;
}

/* Chrome Scrollbar */
#upperMenuButtons::-webkit-scrollbar {
  width: 12px;
}

#upperMenuButtons::-webkit-scrollbar:horizontal {
  height: 12px;
}

#upperMenuButtons::-webkit-scrollbar-track {
  background: lemonchiffon;
}

#upperMenuButtons::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px transparent;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.7);
}

#upperMenuButtons::-webkit-scrollbar-thumb:hover {
  background: black;
}

/*Firefox Scrollbar*/
#upperMenuButtons {
  scrollbar-width: thin;
  scrollbar-color: orange lemonchiffon;
}

#leftmenu {
  width: 250px;
  max-width: 250px;
  height: 100vh;
  background-color: #FFD382;
}

#upperMenuButtons {
  overflow: hidden scroll;
  max-width: 250px;
}

#upperMenuButtons, .lowerMenuButtons, .lowerMenu {
  display: flex;
  flex-direction: column;
}

#topDecoration {
  height: 30vh;
  min-height: 200px;
  max-height: 300px;
  width: 250px;
  background-color: #adadad;
}

.button-style-menu {
  width: 250px;
  height: 50px;
  border-radius: 0;
  background-color: #FFD382;
  text-align: left;
  line-height: 50px;
}

.button-style-menu:focus {
  background-color: #ffdea1;
}

.upperMenu:focus, .lowerMenu:focus {
  background-color: #FFD382;
}

.upperMenuAct:focus, .lowerMenuAct:focus {
  background-color: #b19869;
}


.upperMenu {
  font-size: 25px;
  padding-left: 20px;
  font-weight: 500;
}

.upperMenuAct {
  font-size: 25px;
  padding-left: 20px;
  font-weight: 600;
  background-color: #b19869;
  border: 5px 0 black;
}

.lowerMenu {
  font-size: 18px;
  padding-left: 40px;
  font-weight: 400;
}

.lowerMenuAct {
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  background-color: #b19869;
  border: 2px 0 black;
}

#content {
  padding-left: 50px;
  padding-top: 50px;
}

#content h1 {
  height: 6rem;
}

#two, #three, #four, #five {
  display: none;
}

.whatsNew,.gettingStarted,.settingUp,.basics,.howToVexcode,.tempVexCode,.controlsVexcode,.troubleshootsVexcode,.howToPros,.tempPros,.controlsPros,.troubleshootsPros,.designProcess,.wayOfCoding,.documentation {
  display: none;
}

.boldedText{
  font-weight: 700;
}

.links-container {
  background-color: rgba(0, 0, 0, 1);
}

.heading-links {
  text-align: center;
  margin-top: 3vh;
}

.links-spacer {
  height: 10px;
  width: 250px;
  margin: 0 auto;
  background-color: #FFD382;
  border-radius: 30px;
}

.useful-links {
  width: 100vw;
  height: calc(100px + 28vh);
  min-height: 200px;
  max-height: 1500px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 5vw;
  padding-top: 2vw;
  margin-bottom: 2vw;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 28vw;
  max-width: calc(250px + 5vw);
  height: calc(80px + 28vh);
  min-height: calc(150px + 5vh);
  max-height: 1500px;
  /*display: block;*/
  text-align: center;
  /*border: 2px solid #ffd382;  for checking the text container size*/
  margin: 0 auto;
}

.container p {
  font-size: calc(3px + 1vh + 0.3vw);
}

.pagename {
  flex: auto;
  height: 30%;
  font-size: calc(8px + 0.6vh + 0.6vw);
  width: 28vw;
  max-width: calc(250px + 5vw);
  max-height: 60px;
  padding: 10px 0;
}

.text {
  flex: auto;
  height: 40%;
}

.button-container {
  flex: auto;
  width: 28vw;
  max-width: calc(250px + 5vw);
  height: calc(25px + 0.9vw);
  padding: 10px 0;
}

.visit {
  height: calc(25px + 0.9vw);
  width: calc(150px + 7vw);
  max-width: calc(250px + 5vw);
  font-size: calc(8px + 0.7vw);
}
