body {
  height: 350vh;
}
.home-title {
  margin-bottom: 2vh;
}
.home-desc {
  margin-bottom: 2vh;
}

.home-button {
  margin-top: 2vh;
}
.bigimg {
  height: 100vh;
  max-height: 1400px;
  position: absolute;
  opacity: 0.2;
  z-index: -1;
  right: 0;
  bottom: 0;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.greeting {
  width: 250px;
  height: 10px;
}

.grey-img-link-content {
  position: relative;
  margin-top: 10vh;
  width: 100vw;
  height: auto;
  background-color: #444444;
  display: flex;
  justify-content: space-evenly;
 
}

.grey-box {
  flex-basis: 15%;
  text-align: center;
}

.grey-box img {
  max-width: 80%;
  max-height: 80%;
  min-width: 80%;
}

.grey-box button {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

@media screen and (max-width: 680px) {

  .grey-img-link-content {
    flex-wrap: wrap;
    margin-top: 5vh;
  }
  .grey-box {
    min-width: 40vw;
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .grey-box img {
    max-width: 50%;
    max-height: 50%;
  }
  
  .grey-text {
    font-size: 0.9rem;
    line-height: 2rem;
  }
  .grey-box button {
    margin-bottom: 3vh;
    margin-top: 3vh;
  }
  .bigimg {
    height: 90vh;
    object-fit: contain;
    transform: translate(45vh, -8vh);
  }
}