body {
  height: 350vh;
}
.home-title {
  margin-bottom: 2vh;
}
.home-desc {
  margin-bottom: 2vh;
}

.home-button {
  margin-top: 2vh;
}
.bigimg {
  height: 100vh;
  max-height: 1400px;
  position: absolute;
  opacity: 0.2;
  z-index: -1;
  right: 0;
  bottom: 0;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.greeting {
  width: 250px;
  height: 10px;
}

.grey-img-link-content {
    position: relative;
    left: 10vw;
    width: 80vw;
    margin-top: 20vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.grey-box{
    width: 26.6vw;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    
}

.grey-img1 {
    width: 200px;
    height: 200px;
    transform: translateX(-0.5vw);
}

.grey-img2 {
    width: 200px;
    height: 180px;
    margin-bottom: 20px;
}

.grey-img1 img {
    max-width: 100%;
    max-height: 100%;
}

.grey-img2 img {
    max-width: 100%;
    max-height: 100%;
}
@media screen and (max-width: 680px) {
    .greeting {
      width: 165px;
    }
  }
