<<<<<<< HEAD
.banner {
  top: -10vh;
  background-image: url("http://127.0.0.1:3000/img/changeup.jpg");
}

.main-content-wrapper {
  width: 100vw;
  height: 100vw;
  overflow: hidden;
}

.grey-page{
  height: 100vh;
}

.decorations {
  position:absolute;
  display: flex;
}
.left{
  width:50vw;
}
.right{
  width:50vw;
}
=======
.banner {
  top: -10vh;
  background-image: url("http://127.0.0.1:3000/img/changeup.jpg");
}

.main-content-wrapper {
  width: 100vw;
  height: 100vw;
  overflow: hidden;
}

.grey-page{
  height: 100vh;
}

.decorations {
  position:absolute;
  display: flex;
}
.left{
  width:50vw;
}
.right{
  width:50vw;
}
>>>>>>> parent of c517413... Revert "Teams page (#7)"
