

.banner {
    top: -5vh;
    background-image: url("img/teams page banner.jpg");

}

.content-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.sorter {
    top: 105vh;
    left: 5vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    display: none;
}

.sorter button {
    margin: 1vh 0 1vh 0;
    width: 10rem;
}
.event {
    width: 80%;
    display: flex;
    margin: 7vh 10vw 8vh 10vw;
    border: 5px solid #ffd382;
    border-radius: 43px;
}

.date {
    flex-basis: 20%;
    margin: auto 0 auto 0;
    display: flex;
    background-color: #ffd382;
    height: 100%;
    border-radius: 35px;
}
.date h4 {
    font-size: 3rem;
    margin: auto;
    color: black;
    text-align: center;
}
.description {
    flex-basis: 30%; 
    margin-left: 3%;   
    display: flex;
    flex-direction: column;
}

.appearance {
    flex-basis: 15%;
}

.appearance img {
    margin-top: 2vh;
    height: 15rem;
    object-fit: contain;
}

.map {
    flex-basis: 30%;
}
.description > h3 {
    margin: auto 0 auto 0;
    font-size: 3rem;
}
.description > p {
    margin: auto 0 auto 0;
}
.appearance > h4 {
    font-weight: 300;
    color: #ffd382;
    opacity: 0.9;
    margin-top: 2vh;
}
button {
    width: 12rem;
    margin-bottom: auto;
}
.related-text-cont {
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
}

.related-text{
    margin-top: 5vh;
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.related-text button{
    margin: 2vh 0 5vh 0;
    width: 15rem;
}

.related-text p {
    margin-top: 2vh;
}
@media screen and (max-width: 1024px) {
.appearance {
    display: none;
}
.description {
    flex-basis: 45%;
}

.map {
    flex-basis: 35%;
}
}

@media screen and (max-width: 680px) {
    .event {
      flex-direction: column;
    }
    .description p {
        font-size: 1.2rem;
        margin-bottom: 1vh;
    }
    .description h3, .description h4 {
        margin-bottom: 2vh;
    }

    .description {
        width: 80vw;
        margin: 0 10vw 0 10vw;
    }
    .map {
        width: 80vw; 
        height: 35vh;
        margin: 5vh 10vw 0 10vw;
    }
    .sorter {
        top: 80vh;
    }
    .related-text-cont{
        flex-wrap: wrap;
    }

    .related-text {
        width: 100%;
    }
}