.banner {
  top: -5vh;
  background-image: url("img/teams page banner.jpg");
}

.parent {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 5vw;
  margin-bottom: 2vw;
}

.tms {
  margin: 0 auto;
}

.photo {
  width: 27vw;
  height: 18vw;
  min-width: 270px;
  min-height: 180px;
  display: block;
}

.text {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 15vw;
  height: 18vw;
  min-height: 180px;
  /*display: block;*/
  text-align: center;
  /*border: 2px solid #ffd382;  for checking the text container size*/
}

.text h2 {
  height: 30%;
  font-size: calc(3vw + 8px);
}

.text p {
  height: 50%;
  font-size: calc(1vw);
  display: block;
}

button {
  width: calc(10vw + 32px);
  height: calc(2.5vw + 8px);
  font-size: calc(1vw + 8px);
}

.button-container {
  height: 20%;
  margin-top: 5px;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .tms {
    width: 42vw;
    margin-bottom: 2vw;
  }

  .photo {
    height: 28vw;
  }

  .text {
    height: 28vw;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .text h2 {
  }

  .text p {
    font-size: calc(2vw - 2px);
  }
  .button-container {
    /*margin-top: calc(7vw - 30px);*/
    padding: 0 0;
  }
}

@media screen and (max-width: 680px) {
  #pg-title {
    font-size: 7vh;
  }

  .tms {
    width: 75vw;
  }
  .photo {
    height: 50vw;
  }

  .parent {
    flex-direction: column;
  }
  .text {
    height: 30vw;
    min-height: 110px;
    text-align: center;
  }

  .text p {
    font-size: calc(2vw + 2px);
  }

  .button-container {
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
  button {
    width: calc(13vw + 32px);
    height: calc(3vw + 8px);
    font-size: calc(1vw + 8px);
  }
}
