.thanks-content {
  display: flex;
  flex-direction: column;
}

.thanks-box {
  width: 70%;
  display: flex;
  min-height: 25vw;
  margin: 2vw auto 2vw auto;
  background-color: #464444;
}

@media screen and (max-width: 1024px) {
  .thanks-box{
    width: 85%;
}
  
}

@media screen and (max-width: 680px) {
.thanks-box{
  flex-direction: column;
  min-height: 100vw;
  width: 80%;
}

}